$black: #000000;
$white: #ffffff;
$red: #ef4358;
$tomato: #ff543d;
$orange: #fba31e;
$yellow: #ffba49;
$green: #70c217;
$forest: #009b6d;
$sky-blue: #299ef3;
$water: #29aaf3;
$blue: #5f37ef;
$lilac: #9a7dff;
$dark: #0a142f;
$checkbox: #303030;
