.contacts {
  margin-bottom: 10rem;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
}

.contacts__content {
  flex: 0 1 50%;
  padding: 0 4rem 0 0;
}

.contacts__text {
  @include font(3.3rem, 5rem, 400);
  margin: 0;
  font-family: $prosto;
}

.contacts__form {
  flex: 1 0 50%;
  max-width: 56rem;
  margin-right: 120px;
}
