.intro {
  margin-bottom: 20rem;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.intro__content {
  position: absolute;
  width: 78%;
  height: 100%;
  right: calc((100% - 149.2rem) / 2 + 3rem);
  display: flex;
  align-items: center;
  z-index: 10;

  @media (max-width: 1250px) {
    right: 2rem;
  }
}

.intro__text {
  display: flex;
  flex-direction: column;
  margin-right: 18%;
  margin-left: auto;
}

.intro__name {
  margin: 0;
}

.intro__text svg {
  margin-bottom: 5rem;
}

.intro__name {
  @include font(3.3rem, 3.9rem, 400);
  text-transform: uppercase;
  font-family: $prosto;
}

.intro__video {
  width: 63%;
  position: relative;
  height: 77.2rem;
}

.intro__video-wrapper {
  overflow: hidden;
}

.intro__video-video {
  height: 100%;
  width: auto;
  object-fit: cover;
}
