.line-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.line {
  background-color: $blue;
  display: flex;
  align-items: center;

  &--single {
    margin-bottom: 15rem;
  }
}

.line__wrapper img {
  display: inline-block;
}
