.line {
  margin-bottom: 158px;
  background-color: $blue;
  min-height: 86px;
  background-image: url(../img/line1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
