.line {
  margin-bottom: 15.8rem;
  background-color: $blue;
  min-height: 8.6rem;
  background-image: url(../img/line1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
