.service {
  margin-bottom: 14.5rem;
}

.service__list {
  list-style: none;
  margin: 0 -3.5rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service__img {
  position: absolute;
  content: "";
  pointer-events: none;
  object-fit: cover;
  object-position: center;
  top: -8rem;
  left: -10rem;
}

.service__item {
  padding: 2.4rem 2.4rem 2.4rem 18rem;
  margin: 3.5rem;
  border-radius: 2rem;
  max-width: 33.8rem;
  min-height: 19.6rem;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in-out;

  &--green {
    border: 1px solid $green;

    & .service__img {
      top: -8rem;
      left: -10rem;
    }

    &:hover {
      background-color: $green;
      box-shadow: 0 0 3.3rem $green;
    }
  }

  &--red {
    padding: 2.4rem 2.4rem 2.4rem 15rem;
    border: 1px solid $red;

    & .service__img {
      top: -3rem;
      left: -3rem;
    }

    &:hover {
      background-color: $red;
      box-shadow: 0 0 3.3rem $red;
    }
  }

  &--lilac {
    border: 1px solid $lilac;
    padding: 2.4rem 2.4rem 2.4rem 15rem;

    & .service__img {
      top: -7rem;
      left: -13rem;
    }

    &:hover {
      background-color: $lilac;
      box-shadow: 0 0 3.3rem $lilac;
    }
  }

  &--tomato {
    padding: 2.4rem 2.4rem 2.4rem 13rem;
    border: 1px solid $tomato;

    & .service__img {
      top: -1rem;
      left: -8rem;
    }

    &:hover {
      background-color: $tomato;
      box-shadow: 0 0 3.3rem $tomato;
    }
  }

  &--water {
    padding: 2.4rem 2.4rem 2.4rem 12.6rem;
    border: 1px solid $water;

    & .service__img {
      top: -2rem;
      left: -7rem;
    }

    &:hover {
      background-color: $water;
      box-shadow: 0 0 3.3rem $water;
    }
  }

  &--orange {
    padding: 2.4rem 2.4rem 2.4rem 15rem;
    border: 1px solid $orange;

    & .service__img {
      top: -3rem;
      left: -5rem;
    }

    &:hover {
      background-color: $orange;
      box-shadow: 0 0 3.3rem $orange;
    }
  }

  &--blue {
    padding: 2.4rem 2.4rem 2.4rem 13rem;
    border: 1px solid $blue;
    & .service__img {
      top: -2rem;
      left: -10rem;
    }

    &:hover {
      background-color: $blue;
      box-shadow: 0 0 3.3rem $blue;
    }
  }

  &--forest {
    padding: 2.4rem 2.4rem 2.4rem 15rem;
    border: 1px solid $forest;

    & .service__img {
      top: 2.5rem;
      left: -5rem;
    }

    &:hover {
      background-color: $forest;
      box-shadow: 0 0 3.3rem $forest;
    }
  }
}

.service__text {
  @include font(1.9rem, 3rem, 700);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
