.tabs__elem {
  display: flex;
  justify-content: center;
  height: 58.7rem;
  background-color: $black;
}

.tabs__aside {
  flex-basis: 34.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem 1.5rem 4rem 3.5rem;

  &--violet {
    background-color: $violet;
  }

  &--wine {
    background-color: $wine;
  }

  &--green2 {
    background-color: $green2;
  }

  &--ketchup {
    background-color: $ketchup;
  }

  &--green3 {
    background-color: $green3;
  }

  &--ice {
    background-color: $ice;
  }
}

.tabs__title {
  @include font(2.5rem, 3.85rem, 400);
  margin: 0;
  text-transform: uppercase;
  font-family: $prosto;
  color: $white;
}

.tabs__photo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 62.8rem;
  overflow: hidden;

  & img {
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.tabs__photo-top {
  position: relative;
  width: 100%;
  height: 40.3rem;

  & img {
    position: absolute;
    object-fit: cover;
    object-position: center;
  }
}

.tabs__bottom {
  display: flex;
}

.tabs__photo-left {
  width: 46%;
  position: relative;
  height: 18.4rem;

  & img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
  }
}

.tabs__photo-right {
  width: 54%;
  position: relative;
  height: 18.4rem;

  & img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
  }
}

.tabs__pagination {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
}
