.tabs__container {
  padding: 0 5rem 5rem;
  height: 58.7rem;

  .swiper-wrapper {
    box-sizing: border-box;
  }
}

.tabs__elem {
  display: flex;
  justify-content: center;
  height: 58.7rem;
  background-color: $black;
}

.tabs__aside {
  flex-basis: 34.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem 1.5rem 4rem 3.5rem;

  &--violet {
    background-color: $violet;
  }

  &--wine {
    background-color: $wine;
  }

  &--green2 {
    background-color: $green2;
  }

  &--ketchup {
    background-color: $ketchup;
  }

  &--green3 {
    background-color: $green3;
  }

  &--ice {
    background-color: $ice;
  }
}

.tabs__title {
  @include font(2.5rem, 3.85rem, 400);
  margin: 0;
  text-transform: uppercase;
  font-family: $prosto;
  color: $white;
}

.tabs__photo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 62.8rem;
  overflow: hidden;

  & img {
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.tabs__photo-top {
  position: relative;
  width: 100%;
  height: 40.3rem;

  & img {
    position: absolute;
    object-fit: cover;
    object-position: center;
  }
}

.tabs__bottom {
  display: flex;
}

.tabs__photo-left {
  width: 46%;
  position: relative;
  height: 18.4rem;

  & img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
  }
}

.tabs__photo-right {
  width: 54%;
  position: relative;
  height: 18.4rem;

  & img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
  }
}

.tabs__pagination {
  left: 1.8rem;
  display: flex;
  flex-direction: column;
  margin-bottom: auto;

  .swiper-pagination-bullet {
    width: 1.4rem;
    height: 1.4rem;
    margin: 0 0 1rem;
    display: block;
    border-radius: 50%;
    opacity: 1;
    border: 2px solid $white;
  }

  button.swiper-pagination-bullet {
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: $white;
  }
}

.swiper-container-vertical > .swiper-pagination-bullets {
  top: 6rem;
  transform: none;
}

.tabs__nav {
  position: absolute;
  content: "";
  left: 2.5rem;
  bottom: 0;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.tabs__prev,
.tabs__next {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 50%;
  border: 2px solid $white;
  margin-bottom: 2.5rem;
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;

  & svg {
    fill: $white;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-color: $white;

    & svg {
      fill: $black;
    }
  }
}

.tabs__next {
  margin-bottom: 0;
}
.tabs__next svg {
  transform: rotate(180deg);
}
